
@{
    ViewData["Title"] = "NotFound";
    Layout = "_Layout";
}

<!doctype html>
<html lang="en">

<head>
    <title>NotFound</title>
    <style>

        html {
            color: #888;
            display: table;
            font-family: sans-serif;
        }

        body {
            display: table-cell;
        }

        h1 {
            color: #555;
            font-size: 2em;
            font-weight: 400;
        }

        p {
            width: 280px;
        }
        }
    </style>
</head>

<body>
    <h1>Page Not Found</h1>
    <p>Sorry, but the page you were trying to view does not exist.</p>
</body>

</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->