@model MyWebTest.ViewModels.ChangePasswordAdminViewModel
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewBag.Title = Localizer["change"];
}
<h2>@Localizer["change_for"] @Model.Email</h2>
<form asp-route="change_password_admin">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">@Localizer["new"]</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="@Localizer["save"]" class="btn btn-default" />
    </div>
</form>

