@model MyWebTest.Models.Test
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-route="add_test" method="post">
    <div class="form-group">
        <label asp-for="Title">@Localizer["title"]</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="KnowledgeArea">@Localizer["area"]</label>
        <input asp-for="KnowledgeArea" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">@Localizer["add"]</button>
</form>

