
@model IEnumerable<MyWebTest.Models.TestingQuestion>
@using System.Globalization;
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{ string TestId = "";}
@{
    ViewData["Title"] = Localizer["start"];
}
<!DOCTYPE html>

<html>
<head>
    <title>@Localizer["list"]</title>
</head>
<body>
    <div>&nbsp</div>
    @{ int index = 0;
    }
    @foreach (var question in Model)
    {
        @if (index >= 0)
        {
            index++;
            TestId = question.TestId.ToString();
        }
        @await Component.InvokeAsync("Question", new { questionId = question.Id, _index = index })
    }

</body>

</html>
<div>&nbsp</div>
<a asp-route="end_test" asp-route-id="@TestId">@Localizer["end"]</a>

